body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f4f1de;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3d405b;
}

.skip-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  font-weight: bold;
}

.skip-links a:focus {
  top: 0;
}

header {
  color: #3d405b;
  font-size: 5rem;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.crop-container {
  width: 100%;
  overflow: hidden;
}

.crop-container img {
  margin-top: -100px;
  margin-bottom: -200px;
}


#main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  background-color: #3d405b;
  color: #f4f1de;
}

a:hover {
  background-color: #5d618a;
}

#main-nav ul li {
  flex: 1;
  text-align: center;
}

#main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

#main-content {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas: 
  "heading heading"
  "owner address"
  ;
}

.welcome {
  grid-area: heading;
}

.owner {
  grid-area: owner;
}

.address {
  grid-area: address;
}

.owner-list {
  list-style: none;
  line-height: 2rem;
}

ul {
  padding: 0;
  list-style: none;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form #yourmessage {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

.site-footer {
  padding: 2rem 0;
}